.bylaws h3 {
    text-align: center;
    text-decoration: underline;
}

.bylaws strong {
    text-decoration: underline;
}

.bylaws header {
    text-align: center;
    padding-bottom: 35px;
}

.bylaws h2 {
    font-size: 1.17em;
    text-decoration: underline;
}